.login-org-pai {
    min-height: 100vh;
    background-color: var(--dark-olive);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------- topo com selo + textos -------- */

.login-org-topo .org-selo {
    background-color: var(--cream);
    color: var(--white);
    margin: 0 auto 0.75rem;
}

.subtitulo--left {
    font-size: 22px;
}

.subtitulo-pequeno {
    color: var(--white);
    font-size: 16px;
    font-family: var(--fonte-body);
    line-height: 1.4;
    margin: 5px 0 30px;
}

.auth-login{
   
}